<div class="w-100 mb4 relative bg-white shadow-4 grow">
  <a href="{{ .RelPermalink }}" class="db no-underline">
    {{ if .Params.featured_image }}
    <div class="overflow-hidden" style="height: 200px;">
        <img src="{{ .Params.featured_image }}" class="w-100 h-100 object-cover" alt="{{ .Title }}">
    </div>
    {{ end }}
    
    <div class="pa4 gray overflow-hidden">
      {{with .CurrentSection.Title }}<span class="f6 db ttu tracked">{{ . }}</span>{{end}}
      <h1 class="f3 near-black mt2 mb3">
          {{ .Title }}
      </h1>
      <div class="f5 lh-copy near-gray" style="height: 4.5rem; overflow: hidden;">
        {{ .Description | default .Summary | truncate 150 }}
      </div>
    </div>
  </a>
</div>
